
<body>
 <main>
   <a id="filteren" href="http://localhost:1337/">
      <img id="filterimg" src="images/filterdicht.png">
      </a>

  <ul>
    {{#each Sporters}}
    {{!-- {{#each data}}
      <li>{{this.Naam}}
          {{this.Leeftijd}}
          {{this.Spiergroep}}
          {{this.Sportschool}}
          {{this.Sportniveau}}
      </li>
    {{/each}} --}}
</ul>




 <script src="./js/script.js"></script>

 </main>
</body>