

<main>
     <a id="filteren" href="http://localhost:1337/filteropen">
      <img id="filterimg" src="images/filterdicht.png">
      </a>
<form>
  <label for="sportniveau">Sportniveau:</label>
  <select name="sportniveau" id="sportniveau">
    <option value="">Alle niveaus</option>
    <option value="beginner">Beginner</option>
    <option value="gemiddeld">Gemiddeld</option>
    <option value="gevorderd">Gevorderd</option>
  </select>

  <label for="leeftijd">Leeftijd:</label>
  <select name="leeftijd" id="leeftijd">
    <option value="">Alle leeftijden</option>
    <option value="jonger dan 18">Jonger dan 18</option>
    <option value="18 tot 30">18 tot 30</option>
    <option value="30 tot 50">30 tot 50</option>
    <option value="ouder dan 50">Ouder dan 50</option>
  </select>

  <label for="spiergroep">Spiergroep:</label>
  <select name="spiergroep" id="spiergroep">
    <option value="">Alle spiergroepen</option>
    <option value="borst">Borst</option>
    <option value="rug">Rug</option>
    <option value="benen">Benen</option>
    <option value="schouders">Schouders</option>
    <option value="biceps">Biceps</option>
    <option value="triceps">Triceps</option>
  </select>

  <div>
  <label for="geslacht">Geslacht:</label>
  <input type="radio" name="geslacht" value="" checked>Alle geslachten
  <input type="radio" name="geslacht" value="man">Man
  <input type="radio" name="geslacht" value="vrouw">Vrouw
  </div>

  <label for="sportschool">Sportschool:</label>
	<select name="sportschool" id="sportschool">
		<option value="">Alle sportscholen</option>
		<option value="Basic-Fit">Basic-Fit</option>
		<option value="Big Gym">Big Gym</option>
		<option value="Trainmore">Trainmore</option>
        <option value="Vondel Gym">Vondel Gym</option>
	</select>

  


  <button type="submit" id="filter-button">Filter</button>
</form>

<ul id="resultaten">
  <!-- Handlebars zal hier de gefilterde resultaten genereren -->
</ul>


<script id="resultaten-template" type="text/x-handlebars-template">
  {{#each resultaten}}
    <li>{{naam}} - {{sportniveau}} - {{leeftijd}} - {{spiergroep}} - {{geslacht}}</li>
  {{/each}}
</script>

</main>
